.place-form {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: min(90%, 40rem);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.place-form__actions {
  display: flex;
  justify-content: flex-end;
}
.place-form__actions:hover {
  background-color: #f5f5f5;
}
/*syntax of font attribute*/
/*font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;*/
/* .updateBtn{
font:1rem 'Roboto', sans-serif;
color: #f6b4b4;

letter-spacing: 1px;
transition: all 0.3s ease-in;

}
.updateBtn:hover span{
  letter-spacing: 2px;
  color: #cfcfcf;
  
}
.updateBtn:disabled span{
  color: #ccc;
  cursor: not-allowed;
} */
