.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__header {
  width: 100%;
  padding: 0.35rem;
  background: #2a006e;
  color: white;
}

.modal__header h2 {
  font-size: 2rem;
  margin: 0rem;
}

.modal__content,
.modal__footer {
  padding: 0.5em;
}

@media (min-width: 768px) {
  .modal:has(.map-container) {
    left: calc(50% - max(15rem, 35%));
    width: max(30rem, 70%);
    height: max(20rem, 60%);
  }
  .modal:has(.place-item-deletion__modal-content) {
    left: calc(50% - max(15rem, 20%));
    top: 30vh;
    width: max(30rem, 40%);
  }
  .modal:has(.place-items__modal-content) {
    width: clamp(15rem, 10%, 20rem);
    top: clamp(10%, 20%, 30%);
    left: clamp(10%, 30%, 40%);
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
/*   
  .modal__header {
    width: 100%;
    padding: 1rem 0.5rem;
    background: #2a006e;
    color: white;
  }
  
  .modal__header h2 {
    margin: 0.5rem;
  }
  
  .modal__content {
    padding: 1rem 0.5rem;
  }
  
  .modal__footer {
    padding: 1rem 0.5rem;
  } */
/* .map-modal{
    height: 15rem;
    width:100%;
  } */
/*   
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
  
  .modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }
  
  .modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }
  
  .modal-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }
   */
